<footer>
  <div class="wrapper footer-links">
    <div class="top-links">
      <ul class="left-links">
        <li>
          <a target="_blank" rel="noopener" href="{{ .Site.Params.twitter_url }}"
            ><img src="/img/twitter.png" alt="Twitter logo" />Twitter</a
          >
        </li>
        <li>
          <a target="_blank" rel="noopener" href="{{ .Site.Params.github_url }}"
            ><img src="/img/github.svg" alt="Github logo" />Github</a
          >
        </li>
        <li>
          <a target="_blank" rel="noopener" href="{{ .Site.Params.slack_url }}"
            ><img src="/img/slack.png" alt="Slack logo" /><span class="desktop"
              >Slack</span
            ><span class="mobile">Slack</span></a
          >
        </li>
      </ul>
      <div class="right-links">
        <p>
          <a target="_blank" rel="noopener" href="/"> <img src="/img/kubeapps-logo.svg" alt="Kubeapps logo" /></a>
        </p>
      </div>
    </div>
    <div class="bottom-links">
      <p>
        <span>
          &copy; {{ now.Year }} the Kubeapps contributors. Apache 2.0 license.
          <a target="_blank" rel="noopener" href="https://github.com/vmware/">A VMware-backed project.</a>
        </span>
        <span>
          <a target="_blank" rel="noopener" href="https://github.com/vmware/">
            <img id="vmware-logo" src="/img/vmware-logo.svg" alt="VMware logo" />
          </a>
        </span>
        <span>
          <a target="_blank" rel="noopener" href='https://www.vmware.com/help/legal.html'>Terms of Use</a> |
          <a target="_blank" rel="noopener" href='https://www.vmware.com/help/privacy.html'>Privacy Policy</a> |
          <a target="_blank" rel="noopener" href='https://www.vmware.com/help/privacy/california-privacy-rights.html'>Your California Privacy Rights</a> |
          <a class='ot-sdk-show-settings'>Cookie Settings</a>
        </span>
      </p>
    </div>
  </div>
</footer>
