<div class="team">
  <div class="wrapper">
      <h2>Imperdiet sed euismod nisi:</h2>
      <div class="grid three">
        {{ $contributors := .Site.GetPage "/contributors" }}
        {{ range $contributors.Resources }}
          <div class="bio">
              <div class="image"><img class="rounded-circle" src="{{ .Params.image }}" alt="{{ .Params.first_name }} {{ .Params.last_name }}" /></div>
              <div class="info">
                  <p class="name"><a href="https://github.com/{{ .Params.github_handle }}">{{ .Params.first_name }} {{ .Params.last_name }}</a></p>
                  <p class="position">{{ .Content }}</p>
              </div>
          </div>
          {{ end }}
      </div>
      <h3>Lorem Ipsum:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt ut labore</a> et dolore magna aliqua.</p>
  </div>
</div>