<footer>
	<div class="wrapper footer-links">
		<div class="top-links">
			<ul class="left-links">
				<li><a href="{{ .Site.Params.twitter_url }}"><img src="/img/twitter.png" alt="Twitter logo" />Twitter</a></li>
				<li><a href="{{ .Site.Params.github_url }}"><img src="/img/github.svg" alt="Github logo" />Github</a></li>
				<li><a href="{{ .Site.Params.slack_url }}"><img src="/img/slack.png" alt="Slack logo" /><span class="desktop">#Slack</span><span class="mobile">Slack</span></a></li>
			</ul>
			<div class="right-links">
				<a href="/"> <img src="/img/vmware-logo.svg" alt="VMware logo" /></a>
			</div>
		</div>
		<div class="bottom-links">
			<p class="copywrite">&copy; {{ now.Year }} Authors. <a href="http://vmware.github.io/">A VMware-backed project. <img src="/img/vmware-logo.svg" alt="VMware logo" /></a></p>
		</div>
	</div>
</footer>