<footer>
	<div class="wrapper footer-links">
		<div class="top-links">
			<ul class="left-links">
				<li><a href="{{ .Site.Params.twitter_url }}"><img src="/img/twitter.png" alt="Twitter logo" />Twitter</a></li>
				<li><a href="{{ .Site.Params.github_url }}"><img src="/img/github.svg" alt="Github logo" />Github</a></li>
				<li><a href="{{ .Site.Params.slack_url }}"><img src="/img/slack.png" alt="Slack logo" /><span class="desktop">#Slack</span><span class="mobile">Slack</span></a></li>
			</ul>
		</div>
		<div class="bottom-links">
		  <p>
			<span>
			  Copyright &copy; 2005-{{ now.Year }} Broadcom. All Rights Reserved. The term “Broadcom” refers to Broadcom Inc. and/or its subsidiaries.
			</span>
			<span>
			  <a target="_blank" rel="noopener" title="VMware by Broadcom. This link will open in a new tab"
				href="https://github.com/vmware/">
				<img class="footer-logo" src="/img/vmware-broadcom-logo.svg" alt="VMware by Broadcom logo" />
			  </a>
			</span>
			<span>
			  <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://www.vmware.com/help/legal.html">Terms of Use</a> |
			  <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://www.vmware.com/help/privacy.html">Privacy Policy</a> |
			  <a target="_blank" rel="noopener" title="This link will open in a new tab" href="https://www.vmware.com/help/privacy/california-privacy-rights.html">Your California Privacy Rights</a> |
			  <a target="_blank" rel="noopener" title="This link will open in a new tab" tabindex=0 class="ot-sdk-show-settings">Cookie Settings</a>
			</span>
		  </p>
		</div>
	</div>
</footer>
