{{ $latest := (cond (.Site.Params.docs_versioning) .Site.Params.docs_latest "") }}
<div class="getting-started">
	<div class="wrapper clearfix">
		<div class="left-side">
			<h2>Getting started</h2>
      <p>
        Discover how to deploy Sealed Secrets in your cluster, and start managing your Kubernetes Secrets in a secure way!
      </p>
    </div>
    <div class="right-side">
      <a href="https://github.com/bitnami-labs/sealed-secrets#readme" class="button">Read the docs</a>
    </div>

	</div>
</div>