<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h1>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</h1>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
			<div class="buttons">
                <a class="button" href="#">In reprehenderit</a>
                <a class="button secondary" href="#">voluptate velit</a>
            </div>
		</div>
	</div>
</div>