<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h1>"Sealed Secrets" for Kubernetes</h1>
			<p>Sealed Secrets provides declarative Kubernetes Secret Management in a secure way. Since the Sealed Secrets are encrypted, they can be safely stored in a code repository. This enables an easy to implement GitOps flow that is very popular among the OSS community.
			</p>
			<div class="buttons">
                <a class="button" href="https://github.com/bitnami-labs/sealed-secrets#readme">LEARN MORE</a>
				<a class="button secondary" href="https://www.github.com/bitnami-labs/sealed-secrets/releases/latest">DOWNLOAD SEALED SECRETS</a>
            </div>
		</div>
	</div>
</div>