<div class="bg-grey introduction">
  <div class="wrapper grid two">
    <div class="col">
      <p class="strong">Kubeapps Community Meeting</p>
      <p>
        We hold bi-weekly on Mondays at 10:30 AM UTC. We use these meetings to
        share project updates, solicit feedback, and demo new upcoming features.
        Add
        <a
          aria-label="Get the ICS calendar invitation"
          target="_blank"
          rel="noopener"
          href="https://kubernetes.slack.com/files/U91HAPE5R/F01EGHESH4L/kubeapps-iteration-planning.ics"
          >the invitation</a
        >
        in your calendar and come by!
      </p>
    </div>
  </div>
</div>
