<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" class=".filter-blue"/>
				<h3>On your command line</h3>
				<p>Sealed Secrets offers a powerful CLI tool (kubeseal) to one-way encrypt your Kubernetes Secret easily.</p>
			</div>
			<div class="card">
				<img src="/img/kubernetes.svg" height="66" class="filter-blue" />
				<h3>On your K8S cluster</h3>
				<p>The Sealed Secrets controller will decrypt any Sealed Secret into its equivalent Kubernetes Secret</p>
			</div>
			<div class="card">
				<img src="/img/storagesecure.svg" height="66" class="filter-blue" />
				<h3>On your code repository</h3>
				<p>Sealed Secrets are safe to store in your local code repository, along with the rest of your configuration.</p>
			</div>
		</div>
	</div>
</div>