<div class="hero homepage">
  <div class="wrapper">
    <div class="text-block">
      <h1>Your Application Dashboard for Kubernetes</h1>
      <p>
        Kubeapps is an in-cluster web-based application that enables users with
        a one-time installation to deploy, manage, and upgrade applications on a
        Kubernetes cluster..
      </p>
      <div class="buttons">
        <a class="button" href="/docs/latest/tutorials/getting-started/">Getting started</a>
      </div>
    </div>
  </div>
</div>
