<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" />
				<h3>Faucibus</h3>
				<p>Ultricies leo integer malesuada nunc vel risus</p>
			</div>
			<div class="card">
				<img src="/img/frictionless.svg" />
				<h3>Suspendisse</h3>
				<p>Velit sed ullamcorper morbi tincidunt est placerat</p>
			</div>
			<div class="card">
				<img src="/img/seamless.svg" />
				<h3>Viverra</h3>
				<p>Tristique senectus et netus et malesuada fames ac turpis</p>
			</div>
		</div>
	</div>
</div>