<div class="grid-container">
  <div class="wrapper">
    <div class="grid three">
      <div class="card">
        <img alt="Checked checkbox" src="/img/simple.svg" />
        <h3>Deploy and Manage your Favorite Kubernetes Packages</h3>
        <p>Browse and deploy packages from public and private registries.</p>
        <p>
          Perform day-two operations such as upgrades or rollbacks seamlessly.
        </p>
      </div>
      <div class="card">
        <img alt="User icon with three dots at the bottom" src="/img/frictionless.svg" />
        <h3>Use Private Namespaces and Multiple Clusters</h3>
        <p>
          Create and manage different catalogs isolating them in different
          namespaces and clusters just using a single Kubeapps instance.
        </p>
      </div>
      <div class="card">
        <img alt="Square with big dots on each vertex" src="/img/seamless.svg" />
        <h3>Secure Authentication and Authorization</h3>
        <p>
          Leverage RBAC and OAuth2/OIDC to authenticate and authorize users in
          Kubeapps.
        </p>
      </div>
    </div>
  </div>
</div>
