<div class="wrapper use-cases">
    <h2>Lorem Ipsum</h2>
    <div class="grid two">
        <div class="col image">
            <img src="/img/administration.svg" />
        </div>
        <div class="col text">
            <p class="strong">Dolar Sit Amet</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a href="#" class="button tertiary">Duis aute</a></p>
        </div>
    </div>
    <div class="grid two image-right">
        <div class="col text">
            <p class="strong">Dolar Sit Amet</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a href="#" class="button tertiary">Duis aute</a></p>
        </div>
        <div class="col image">
            <img src="/img/authentication.svg" />
        </div>
    </div>
    <div class="grid two">
        <div class="col image">
            <img src="/img/security.svg" />
        </div>
        <div class="col text">
            <p class="strong">Dolar Sit Amet</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a href="#" class="button tertiary">Duis aute</a></p>
        </div>
    </div>
</div>