# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @alvneiayu @agarcia-oss @alemorcuq will be requested for
# review when someone opens a pull request.
* @alvneiayu @agarcia-oss @alemorcuq
