# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @juan131 @alvneiayu @mkmik @agarcia-oss @alemorcuq will be requested for
# review when someone opens a pull request.
* @juan131 @alvneiayu @mkmik @agarcia-oss @alemorcuq
