$blue: #0095d3;
$darkgrey: #333333;
$lightgrey: #f2f2f2;
$darkblue: #002538;
$black: #111111;
$mainblue: #0091da;
$navyblue: #1d428a;

// Official palette
// https://www.vmware.com/brand/portal/guidelines/color.html
$ocean: #0091da;
$leaf: #78be20;
$indigo: #1d428a;
$purple: #7f35b2;
$aqua: #00c1d5;
$grey: #717074;
$white: #fff;
